* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Jersey 10", sans-serif;
  font-size: 25px;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: center;
  background-color: rgba(159, 41, 255, 0.869);
  width: 100%;
}

nav h1 {
  padding: 30px;

  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: white;
  text-shadow: 1px 2px 0 black;
}

.game-box {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 40px;
  flex-wrap: wrap;
}

.pics {
  display: flex;
  justify-content: space-around;
  margin-bottom: 38px;
}

.buttons {
  display: flex;
  gap: 12px;
}

button {
  border: 1px solid black;
  background-color: white;
  padding: 20px;
  font-family: "Jersey 10", sans-serif;
  font-size: 1.5rem;
  box-shadow: 2px 2px 0px 0px black;
  width: 150px;
}

button:hover {
  box-shadow: none;
}

.scores {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

img {
  width: 70px;
  height: auto;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: rgba(159, 41, 255, 0.869);
}

footer a {
  display: block;
  color: white;
}
